[submodule "core_spring"]
	path = core_spring
	url = https://github.com/shahry-03/core-spring
[submodule "SpringBootPrerequisites"]
	path = SpringBootPrerequisites
	url = https://github.com/shahry-03/basic_concepts_required_for_springboot
[submodule "annotation_based_spring"]
	path = annotation_based_spring
	url = https://github.com/shahry-03/annotation_based_spring
[submodule "project-spring-crud"]
	path = project-spring-crud
	url = https://github.com/shahry-03/project-spring-crud
[submodule "first"]
	path = first
	url = https://github.com/shahry-03/first-springboot-app
